.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 8vh;

    background-color: #000;
    color: #fff;
}
.footer span {
    margin: 0 auto;
}

.main {
    min-height: 62vh;
}

.header {
    height: 30vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo--img {
    width: 200px;
}
.header__title {
    text-transform: uppercase;
    font-size: 46px;
}
.card_container {
    padding-bottom: 50px;
}
.filter-container {
    display: flex;
    align-items: center;
    max-width: 880px;
    justify-content: space-between;
    margin-bottom: 40px;
}
.card__unit {
    border: 1px solid #c4c4c4;
    border-radius: 15px;
    padding: 30px;
    position: relative;
    min-height: 180px;
}

.card__unit > h2 {
    font-size: 22px;
}
.card__unit > h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.card__unit > h2 > span,
.card__unit > h3 > span {
    font-weight: 400;
}
.card__unit-title {
    font-size: 26px;
    text-transform: uppercase;
}
.more-info {
    margin-bottom: 10px;
}
.more-info > p {
    margin-bottom: 0;
}
.delete-card {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0 8px;
}
.btn-show-more {
    margin-right: 10px;
}
.header__visit--btn {
    display: none;
}
.login__modal {
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.9;
    background-color: white;

    width: 444px;
    height: 400px;
    padding-bottom: 48px;
    padding-top: 30px;
    border-radius: 5px;
}

.login__modal--background,
.visit__modal-background {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.login__modal--form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

.login__modal--label {
    margin-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: SansSerif;
    letter-spacing: 1px;
}

.login__input--information {
    width: 100%;
    margin-top: 12px;
    padding: 0;
    height: 45px;
    border: 1px solid rgb(215, 215, 215);
    text-indent: 20px;
    outline: none;
}

.login__input--information::placeholder {
    color: rgba(190, 190, 190, 1);
}

.login__input--information:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
}

.login__submit--btn {
    margin-top: 20px;
    font-size: 16px;

    width: 160px;
    height: 48px;
    border-radius: 5px;
    font-family: 'Roboto';
    letter-spacing: 1px;
}

.visit__modal {
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0.9;
    background-color: white;
    min-width: 500px;
    max-width: 1200px;
    max-height: 95%;
    padding: 20px;
    border-radius: 15px;
    overflow: auto;
}
.cardiologistContainer {
    max-width: 70%;
}
.divButton {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.requiredFileds__error {
    color: red;
    margin-top: 10px;
}
